.wmde-markdown pre > code {
  color: rgb(101, 219, 205);
}
.wmde-markdown {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
}

mark {
  background-color: #b2f5ea;
  border-radius: 12px !important;
  white-space: nowrap;
  padding: 1px 8px;
}
